* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
}


img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}


/* Header Start */
header {}

.main-nav {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 15px;
    justify-content: space-between;
}

.main-nav ul.main-manu {
    flex: 1;
    margin-left: 20px;
}


.logo {
    width: 110px;
}

.main-manu {
    display: flex;
}

.main-nav ul li {
    list-style: none;
    padding: 0 10px;
}

.main-manu li a {
    text-decoration: none;
    color: #262626;
    padding-bottom: 2px;
}

.main-manu li a:hover {
    border-bottom: 2px solid #262626;
}

.right-menu {
    display: flex;
}

.right-menu li {
    list-style: none;
}

.right-menu li a {}

.right-menu li a:hover {}

/* Banner Start */
.banner-section {}

.banner-content {
    background: #E6E6E6 url(../images/Bannar2.png);
    background-repeat: no-repeat;
    min-height: 450px;
    background-position: right;
    background-size: cover;
    padding: 60px 0;
}

.banner-section {}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 60px;
    justify-content: center;
}

.banner-content h1 {
    margin-bottom: 22px;
    color: #262626;
}

.banner-content p {
    width: 40%;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
}

.banner-content .btn {
    text-decoration: none;
    font-weight: 700;
    background: #262626;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
}

.banner-content .btn i {
    margin-left: 5px;
}

.banner-content .btn:hover {
    opacity: 0.9;
}

/* Banner End */
/* Header End */


/* Product Section Start */
.product-section {
    padding: 65px 0;
}

.products {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.product-content {
    flex: 1;
    text-align: center;
    padding: 0 15px;
}

.product-content img {
    margin: auto;
    width: 40px;
}

.product-content p {
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}

/* Product Section End */


/* Blog Section Start */
.blog-section {}

.blogs {
    display: flex;
}

.blog-content {
    padding: 15px;
}

.blog-content img {}

.blog-content h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.blog-content p {
    font-size: 15px;
    padding: 8px 0;
    line-height: 24px;
    margin-bottom: 10px;
}

.blog-content a {
    text-decoration: none;
    font-size: 14px;
    color: #0b40ff;
    margin-bottom: 20px;
    display: block;
}

.blog-content a:hover {}

.blog-content a i {
    margin-left: 5px;
}

/* Blog Section End */


/* Footer Start */
footer {
    padding: 60px 0;
    background: #F2F2F2;
}

.categories {
    display: flex;
}

.categorie {
    flex: 1;
    padding: 0 6px;
}

.categorie h4 {
    margin-bottom: 8px;
    font-size: 14px;
    color: #616161;
}

.categorie ul {}

.categorie ul li {
    list-style: none;
    padding: 6px 0;
}

.categorie ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #616161;
}

.categorie ul li a:hover {
    border-bottom: 1px solid #616161;
}

/* Footer End */